body {
  background-color: white;
  color: black;
  font-family: Ubuntu, sans-serif;
  font-size: 10pt;
  margin: 0;
  padding: 10px 0;
}

a {
  color: #002455;
  outline: none;
  text-decoration: underline;
}

a:hover {
  color: #ff5223;
}

.fakelink {
  color: #002455;
  text-decoration: underline;
  cursor: pointer;
}

.fakelink:hover {
  color: #ff5223;
}

#wrapper {
  max-width: 800px;
  margin: 0 auto;
}

#header {
  margin-left: 60px;
  height: 50px;
  position: relative;
  color: #c0c0c0;
}

#header h1 {
  font: 22px Ubuntu, sans-serif;
  line-height: 1em;
  margin: 0;
}

#header h1 a {
  color: inherit;
  text-decoration: none;
}

#header h2 {
  display: none;
}

#header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 12px;
  left: 300px;
  width: 400px;
  text-align: right;
}

#header ul li {
  display: inline-block;
  margin-left: 2em;
  font-size: 12px;
  line-height: 12px;
}

#header ul li a {
  color: #8080c4;
}

#content {
  padding-left: 60px;
  max-width: 800px;
  line-height: 1.5em;
}

#content h1 {
  font: 22px 'PT Sans Narrow', 'Trebuchet MS', sans-serif;
  line-height: 1em;
  margin: .5em 0;
}

#content h1 small {
  font-size: 10pt;
  color: green;
  margin-left: 1em;
  text-decoration: underline;
  cursor: pointer;
}

#content h2 {
  font: 20px 'PT Sans Narrow', 'Trebuchet MS', sans-serif;
  line-height: 1em;
  margin: .5em 0;
}

#content h3 {
  font: 18px 'PT Sans Narrow', 'Trebuchet MS', sans-serif;
  line-height: 1em;
  margin: 1em 0 .5em;
}

#content .meta {
  font-size: 80%;
  color: gray;
}

#page> p {
  margin-right: 60px;
}

#page blockquote {
  margin-left: -60px;
  background-color: #eceaea;
  padding: 4px 0;
  border-left: 1px solid #d9d4d3;
}

#page blockquote p {
  margin-left: 60px;
  margin-right: 20px;
}

#page blockquote p:first-child:before {
  position: absolute;
  font-family: Georgia, Times, serif;
  font-size: 70px;
  color: #c6bfbe;
  margin-top: -20px;
  margin-left: -40px;
}

#page ul {
  margin-left: 0;
  padding-left: 0;
}

#page img.right {
  float: right;
  max-width: 300px;
  margin: 0 40px 10px 10px;
  border: solid 1px #cccccc;
}

.pagelist {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagelist .date {
  display: inline-block;
  color: gray;
  font-size: 80%;
  width: 55px;
  text-align: right;
  margin-left: -60px;
  margin-right: 5px;
}

.pagelist li a {
  font-size: 110%;
}

#tcloud {
  background-color: #eeeeee;
  width: 200px;
  float: right;
  margin: -40px 38px 0 20px;
  padding: 4px 4px 4px 10px;
}

#tcloud h2 {
  margin: 0 0 .5em;
}

#tcloud ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#tcloud ul li {
  display: inline-block;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 0 4px;
  color: #cccccc;
  font-size: 8pt;
}

#tcloud ul li a {
  font-size: 10pt;
}

#tcloud p {
  padding-top: 4px;
  border-top: solid 1px #cccccc;
}

#footer {
  margin-left: 60px;
  padding: 50px 0 10px;
  color: #c0c0c0;
}

#footer a {
  color: #8080c4;
}

#cwrapper {
  margin-top: 50px;
  max-width: 740px;
}

.news {
  margin-top: 2em;
}

.news li {
  margin: 0 60px 1em 80px;
  position: relative;
  min-height: 60px;
  font-size: 12pt;
  line-height: 1.25em;
}

.news li p {
  margin: 0;
}

.news li img {
  margin-left: -80px;
  position: absolute;
  top: 0;
  left: 0;
}

.news li .links {
  margin: 0;
}

.news li .links a {
  color: gray;
  text-decoration: underline;
  font-size: 8pt;
  margin-right: 1em;
}

img .illustration {
  max-width: 300px;
  max-height: 300px;
}

img .right {
  float: right;
  margin: 0 0 .5em .5em;
}

#submit {
  display: none;
}

#submit textarea {
  width: 100%;
  height: 100px;
  margin: .5em 0;
  padding: 4px;
  font-family: sans-serif;
}