body {
	font: 10pt/15pt Ubuntu, sans-serif;
	background-color: white;
}

a {
	color: #008;
}

#pb {
	border: none;
}
#pb h1, #pb h2 {
	font: 22px "PT Sans Narrow", "Trebuchet MS", sans-serif;
	padding: 0;
	border: none;
}
#pb img[align=right] {
  margin: .5em 0 .5em 1em;
  padding: 4px 0 4px 10px;
}

#tabs {
	margin: 0;
	padding: 0;
	text-align: right;
	float: right;
	font-size: 85%;
	color: gray;
}
#tabs li {
	display: inline;
	margin-left: 1em;
}
#tabs li a {
	color: #8080c4;
	text-decoration: underline;
}
#tabs .active a {
	color: inherit;
	text-decoration: none;
}

#page {
	max-width: 800px;
	margin: 60px auto 0;
}
#page .categories {
	margin-left: -8px;
}

#pb {
	border: none;
	padding-left: 60px;
}
#pb > p {
	margin-right: 60px;
}
#pb blockquote {
	margin-left: -60px;
	background-color: #eceaea;
	padding: 4px 0;
	border-left: 1px solid #d9d4d3;
}
#pb blockquote p {
	margin-left: 60px;
	margin-right: 20px;
}
#pb blockquote p:first-child:before {
	position: absolute; // для того, чтобы расположение текста не зависело от положения этой штуки
	font-family: "Georgia", "Times", serif;
	font-size: 70px;
	color: #c6bfbe;
	margin-top: -20px;
	margin-left: -40px;
	content: '„';
}


#header {
	display: none;
}


#footer {
	max-width: 800px;
	margin: 50px auto 0;
	padding: 0;
	color: gray;
	font-size: 90%;
}
#footer a {
	color: #8080c4;
}
#footer p {
	margin-left: 60px;
}


#footer #fh {
	position: absolute;
	top: 10px;
	margin-left: 60px;
	height: 50px;
	color: #c0c0c0;
}
#footer #fh h2 {
	font: 22px Ubuntu, sans-serif;
	line-height: 1em;
	margin: 0;
}
#footer #fh h2 a {
	color: inherit;
	text-decoration: none;
}
#footer #fh ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 12px;
	left: 300px;
	width: 400px;
	text-align: right;
}
#footer #fh li {
	display: inline-block;
	margin-left: 2em;
	font-size: 12px;
	line-height: 12px;
}
#footer #fh li a {
	color: #8080c4;
}
#footer #fh li.active a {
	color: gray;
	text-decoration: none;
}


#sidebar {
	position: absolute;
	top: 88px;
	left: 10px;
	width: 140px;
	color: gray;
	font-size: 90%;
}
#sidebar a {
	color: #8080c4;
}
#sidebar h3 {
	font-size: 1em;
	margin: 1.5em 0 .5em;
	border-bottom: solid 1px #c0c0c0;
}
#sidebar ul {
	margin: .5em 0;
	padding: 0;
	list-style-type: none;
}
